*, *:after, *:before {
  box-sizing: border-box;
}

p {
  font-size: 80px;
  text-align: center;
}

#grid-container {
  background: black;
  display: grid;
  height: 40rem;
  width: 40rem;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(8, 1fr);
}

.cell {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid white;
}

.cell2 {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid white;
}

.player-red {
  position: absolute;
  background: red;
  border: 2px solid pink;
  border-radius: 2rem;
  padding: 2rem;
}

.player-red:hover {
  background: pink;
  border: 2px solid red;
}

.player-blue {
  position: absolute;
  background: blue;
  border: 2px solid lightblue;
  border-radius: 2rem;
  padding: 2rem;
}

.player-blue:hover {
  background: lightblue;
  border: 2px solid blue;
}
